<!--<p>-->
<!--  <strong>Name:</strong>-->
  <%#= @chatroom.name %>
<!--</p>-->

<% unread_messages = false %>
<div class="chat" data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>'>
  <% @messages.each do |message| %>
    <% if !unread_messages && @chatroom_user.last_read_at < message.created_at %>
      <% unread_messages = true %>
      <div class="strike"><span>Unread Messages</span></div>
    <% end %>
    
    <div class="chat-message-container">
      <div class="row no-gutters" style="display: flex; flex-direction: column;">
        <% if message.user_id == current_user.id %>
          <div class="message-content my_message mr-4">
            <p class="mb-1 ml-2 mr-2" style="margin-bottom: 0px !important; font-size: 15px;">
              <%= render message %>
            </p>
          </div>
          <div class="text-right mr-4">
            <small style="font-size: 9px;">
              <%= time_ago_in_words(message.created_at) %> ago
            </small>
          </div>

        <% else %>
          <div class="not_my_message">
            <p class="mb-1 ml-2 mr-2" style="margin-bottom: 0px !important; font-size: 15px;">
              <%= render message %>
            </p>
          </div>
          <div class="text-right float-left">
            <small style="font-size: 9px; margin-left: 10px;">
              <%= time_ago_in_words(message.created_at) %> ago
            </small>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= form_for [@chatroom, Message.new] do |f| %>
  <%= f.text_area :body, rows: 1, class: "form-control message-input", autofocus: true %>
<% end %>
